@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    for (int i = 1; i < 11; i++)
    {
        if (i%2 == 0)
        {
            <h1 style="color:blue; margin-left:10px">@i Real</h1>
        }
        else
        {
            <h1 style="color:red; margin-left:10px">@i Real</h1>
        }
    }
}


